body{
  /* background-color: #EAF6F6; */
  /* margin: 0; */
}

hr{
  background-color: black;
  border-style: none;
}

.course_title{
  text-align: center;
  border: 3px solid green;
}

.top-container{
  padding-bottom: 0px;
    margin-bottom: 0px;
  filter: brightness(100%);
  background:  #006747;
  /* background: #EAF6F6; */
  height: 200px;

}
/* .top-container img{ */
  /* text-align: center; */
  /* display: block; */
  /* height: 100%; */
/* } */

.top-container p{
  padding-top: 0px;
    margin-bottom: 0px;
  /* font-size: 20px */
  color: white;
}

.img-and-text{
  font-size: 95%;
  margin: auto;
  text-align: center;
}



.top-container img{
  margin: auto;
  display: block;
  /* margin-left:auto;
  margin-right:auto; */
  /* width: 50%; */
  height: 90%;
 }

.middle-container img{
  filter: brightness(50%);
  height: 100%;
  width: 100%;;
}
